@font-face {
  font-family: 'Inconsolata';
  src: url('../fonts/inconsolata-all-500-normal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('../fonts/inconsolata-all-800-normal.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
